doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='google-site-verification', content='OwUilgGIGtfbtc5YRWybwr07nq22dMCJAHgxzLC2KHw')
  body
    block content
